
@{
    ViewBag.Title = "Sell";
    Layout = "~/Areas/Sell/Views/Shared/_Layout.cshtml";
}

<script src="https://code.angularjs.org/2.0.0-beta.0/Rx.umd.js"></script>
<script src="https://code.angularjs.org/2.0.0-beta.0/angular2-polyfills.js"></script>
<script src="https://code.angularjs.org/2.0.0-beta.0/angular2-all.umd.dev.js"></script>


<script src="~/Scripts/Angular2/Sell/PackageService.js"></script>
<script src="~/Scripts/Angular2/Sell/PackageComponent.js"></script>

<section id="aa-property-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-property-header-inner">
                    <h2>Sell Your Properties</h2>
                    <ol class="breadcrumb">
                        <li><a href="/">HOME</a></li>
                        <li class="active">PROPERTIES</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="package-listing">Loading...</div>



