<a href="~/Dealer"> Back To Search</a>

<br /><br />
<legend></legend>
<div class="row">
    <div class="span12">
        <form>
            @Html.AntiForgeryToken()
            <div class="form-group col-lg-2">
                <select class="form-control" style="background:#f5f5f5;">
                    <option selected>25 miles</option>
                    <option>35 miles</option>
                    <option>45 miles</option>
                    <option>55 miles</option>
                    <option>65 miles</option>
                    <option>75 miles</option>
                    <option>any miles</option>
                </select>
            </div>
            <div class="form-group col-lg-2">
                <select class="form-control" style="background:#f5f5f5;">
                    <option selected>Distance-Closet</option>
                    <option>Distant-Fastest</option>
                    <option>Dealership Name A-Z</option>
                    <option>Dealership Name Z-A</option>
                </select>
            </div>
            <div class="form-group col-lg-2">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle form-control" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background:#f5f5f5;width:220%;">
                            Make <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" style="background:#f5f5f5;">
                            <li>&nbsp;<input type="checkbox" />&nbsp; Audi</li>
                            <li>&nbsp;<input type="checkbox" />&nbsp; Acura</li>
                            <li>&nbsp;<input type="checkbox" />&nbsp; Bentley</li>
                            <li>&nbsp;<input type="checkbox" />&nbsp; BMW</li>
                            <li>&nbsp;<input type="checkbox" />&nbsp; Auston Martin</li>
                            <li>&nbsp;<input type="checkbox" />&nbsp; Lincoln</li>
                        </ul>
                    </div>
                </div>

                <div class="form-group col-lg-2">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle form-control" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background:#f5f5f5; width:170%;">
                            Inventory <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" style="background:#f5f5f5;">
                            <li>&nbsp;<input type="checkbox" />&nbsp; New</li>
                            <li>&nbsp;<input type="checkbox" />&nbsp; Used</li>
                            <li>&nbsp;<input type="checkbox" />&nbsp; Certified</li>
                            <li>&nbsp;<input type="checkbox" />&nbsp; All</li>
                        </ul>
                    </div>
                </div>
                <div class="form-group col-lg-2">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle form-control" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background:#f5f5f5; width:190%;">
                            Service <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" style="background:#f5f5f5;">
                            <li>&nbsp;<input type="checkbox" />&nbsp; Service Center</li>
                            <li>&nbsp;<input type="checkbox" />&nbsp; Factory Service Center</li>
                            <li>&nbsp;<input type="checkbox" />&nbsp; Diesel</li>
                            <li>&nbsp;<input type="checkbox" />&nbsp; Parts & Accessories</li>
                            <li>&nbsp;<input type="checkbox" />&nbsp; Rental Car</li>
                        </ul>
                    </div>
                </div>

                <div class="form-group col-lg-2">
                    <input type="text" class="form-control" placeholder="Location / Zip code" style="background:#f5f5f5;" />
                </div>

                <div class="form-group col-lg-2">
                    <input type="text" class="form-control" placeholder="Keyword" style="background:#f5f5f5;" />
                </div>

                <div class="form-group col-lg-2">
                    <button class="btn btn-primary" style="width:100%">Update Result</button>
                </div>
                <div class="form-group col-lg-2">
                    <button class="btn btn-success" style="width:100%">Save Search</button>
                </div>

</form>
    </div>
</div>
<br />
<legend></legend>

<div class="col-lg-12">
    <div class="row">
        <div class="col-lg-4" style="height:750px; overflow:scroll; background:#f5f5f5;">
            <h4>Show Results</h4>
            <br />
            <fieldset><legend></legend></fieldset>
            <div class="widget">
               
                        <a href="" data-toggle="modal" data-target="#myModal"><img src="~/img/001.png" width="120" class="pull-left" alt="" /></a>
                        <a href="" data-toggle="modal" data-target="#myModal"><b><span><img src="~/img/location_pin.png" width="50" /></span>2934 miles</b></a>
                        <h6><a href="#" data-toggle="modal" data-target="#myModal">Lorem ipsum dolor sit</a></h6>
                        <p>
                            Mazim alienum appellantur eu cu ullum officiis pro pri
                        </p>

                
                        <a href="" data-toggle="modal" data-target="#myModal"><img src="~/img/001.png" width="120" class="pull-left" alt="" /></a>
                        <a href="" data-toggle="modal" data-target="#myModal"><b><span><img src="~/img/location_pin.png" width="50" /></span>2934 miles</b></a>
                        <h6><a href="#" data-toggle="modal" data-target="#myModal">Lorem ipsum dolor sit</a></h6>
                        <p>
                            Mazim alienum appellantur eu cu ullum officiis pro pri
                        </p>

                        <a href="" data-toggle="modal" data-target="#myModal"><img src="~/img/001.png" width="120" class="pull-left" alt="" /></a>
                        <a href="" data-toggle="modal" data-target="#myModal"><b><span><img src="~/img/location_pin.png" width="50" /></span>2934 miles</b></a>
                        <h6><a href="#" data-toggle="modal" data-target="#myModal">Lorem ipsum dolor sit</a></h6>
                        <p>
                            Mazim alienum appellantur eu cu ullum officiis pro pri
                        </p>

                        <a href="" data-toggle="modal" data-target="#myModal"><img src="~/img/001.png" width="120" class="pull-left" alt="" /></a>
                        <a href="" data-toggle="modal" data-target="#myModal"><b><span><img src="~/img/location_pin.png" width="50" /></span>2934 miles</b></a>
                        <h6><a href="#" data-toggle="modal" data-target="#myModal">Lorem ipsum dolor sit</a></h6>
                        <p>
                            Mazim alienum appellantur eu cu ullum officiis pro pri
                        </p>
                
                        <a href="" data-toggle="modal" data-target="#myModal"><img src="~/img/001.png" width="120" class="pull-left" alt="" /></a>
                        <a href="" data-toggle="modal" data-target="#myModal"><b><span><img src="~/img/location_pin.png" width="50" /></span>2934 miles</b></a>
                        <h6><a href="#" data-toggle="modal" data-target="#myModal">Lorem ipsum dolor sit</a></h6>
                        <p>
                            Mazim alienum appellantur eu cu ullum officiis pro pri
                        </p>
                
                        <a href="" data-toggle="modal" data-target="#myModal"><img src="~/img/001.png" width="120" class="pull-left" alt="" /></a>
                        <a href="" data-toggle="modal" data-target="#myModal"><b><span><img src="~/img/location_pin.png" width="50" /></span>2934 miles</b></a>
                        <h6><a href="#" data-toggle="modal" data-target="#myModal">Lorem ipsum dolor sit</a></h6>
                        <p>
                            Mazim alienum appellantur eu cu ullum officiis pro pri
                        </p>
                
                        <a href="" data-toggle="modal" data-target="#myModal"><img src="~/img/001.png" width="120" class="pull-left" alt="" /></a>
                        <a href="" data-toggle="modal" data-target="#myModal"><b><span><img src="~/img/location_pin.png" width="50" /></span>2934 miles</b></a>
                        <h6><a href="#" data-toggle="modal" data-target="#myModal">Lorem ipsum dolor sit</a></h6>
                        <p>
                            Mazim alienum appellantur eu cu ullum officiis pro pri
                        </p>
                        
                        <fieldset><legend></legend></fieldset>
                        <nav>
                            <ul class="pagination">
                                <li>
                                    <a href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">6</a></li>
                                <li><a href="#">7</a></li>
                                <li>
                                    <a href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>


            </div>

        </div>
        
        <div class="col-lg-8">
            <article>
                <img src="~/img/world-cities-map.jpg" class="thumbnail" />
            </article>
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" style="width:auto">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">
                    <button href="" class="btn btn-default">Save</button>
                    <button href="" class="btn btn-default">Share</button>
                    <button href="" class="btn btn-default">Print</button>
                </h4>
            </div>
            <div class="modal-body">
                <span><img src="~/img/location_pin.png" width="40" />2934 miles</span> <br />
                <h4>Lorem ipsum dolor sit</h4>
                <div class="row">
                    <div class="col-lg-6">

                        <img src="~/img/001.png" class="thumbnail"/>
                        
                        <h2>75 Fox Woods Dr, Springfield, MA 01129</h2>
                        <p>
                            Location, Location, Location! This Contemporary style home is
                            located in a beautifully established neighborhood. This custom
                            4 bedroom 2 bath home built in 1992 has vaulted ceilings in the
                            living area. Large eat-in kitchen making for easy entertaining.
                            The 3, 2nd floor bedrooms are nicely sized with a private master bedroom .
                            There is also an option for a 1st floor bedroom. To top it off the basement
                            would add great additional living space. Yard is fenced and perfect for
                            pets and privacy. Just a lovely home.
                        </p>
                        <br />
                        <img src="~/img/world-cities-map.jpg"  class="thumbnail" />

                    </div>
                    <div class="col-lg-6">

                            <img src="~/img/lindsay.png" width="170" />
                        
                        <h3>Contact Dealer</h3>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Contact Agent</h3>
                            </div>
                            <div class="panel-body">

                                
                              
                                <form>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                                            <input type="text" class="form-control" id="" placeholder="Your Name">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon"><span class="glyphicon glyphicon-phone"></span></div>
                                            <input type="text" class="form-control" id="" placeholder="Your Phone">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></div>
                                            <input type="text" class="form-control" id="" placeholder="Your Email">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon"><span class="glyphicon glyphicon-comment"></span></div>
                                            <textarea rows="5" class="form-control" placeholder="Your Message....."></textarea>
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-success">Contact Agent</button>
                                        <button type="reset" class="btn btn-danger">Cancel</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="modal-footer">

                <nav>
                    <ul class="pagination">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>
</div>