@{
    ViewBag.Title = "Rent";
    Layout = "~/Areas/Rent/Views/Shared/_Layout.cshtml";
}


<h2>Rent</h2>


<!DOCTYPE html>
<html>
<head>
    <title>Angular 2 QuickStart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- 1. Load libraries -->
    <!-- IE required polyfill -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.35.0/es6-shim.min.js"></script>
    <script src="https://npmcdn.com/angular2@2.0.0-beta.13/es6/dev/src/testing/shims_for_IE.js"></script>

    <script src="https://code.angularjs.org/2.0.0-beta.13/angular2-polyfills.js"></script>
    <script src="https://code.angularjs.org/2.0.0-beta.13/Rx.umd.js"></script>
    <script src="https://code.angularjs.org/2.0.0-beta.13/angular2-all.umd.dev.js"></script>
    <!-- 2. Load our 'modules' -->
    
    @*<script src="~/Areas/Rent/Views/app/main.js"></script>*@

    <script src="~/Scripts/Angular2/Rent/menu-service.js"></script>
    <script src="~/Scripts/Angular2/Rent/menu-component.js"></script>


    @*<script src="~/Scripts/Angular2/Rent/main.js"></script>*@

</head>
<!-- 3. Display the application -->
<body>
    <div id="command-listing">Loading...</div>
</body>
</html>
<!--
    This is a demo for an answer at stackoverflow: http://stackoverflow.com/a/36346877/1850609
-->
